.row{
    display: flex;
    justify-content: space-between;
}
p {
    margin-top: -7px;
    margin-bottom: -1px;
}
.card-body{
    margin-left: 4px;
    width: 110%;
    flex: 0;
    padding: 4px;
}
.col-md-4 {
    flex: 0 0 auto;
    display: flex;
    width: 33.33333333%;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}
.container{
    margin-top: 24%;
}

.card:hover{
    cursor: pointer;
    border-width: 1px;
    border-color: black;
}
.overlay {
    background: rgba(49,49,49,0.8);
}